<%- include('../components/header') %>
<link rel="stylesheet" href="../../public/css/plus.css"/>
<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>

<body>

<p1 >反馈中心</p1>

<div class="five wide column">
    <form class="ui form segment" method="post" action="/posts">
        <div class="field required">
            <label>标题</label>
            <input type="text" name="problem_title">
        </div>
        <div class="field required">
            <label>问题类型</label>
            <select class="selection dropdown" name="problem_type">
                <option value="0" selected="selected"></option>
                <option value="1">bug</option>
                <option value="2">建议</option>
                <option value="3">其他</option>
            </select>
        </div>
        <div class="field required">
            <label>内容</label>
            <textarea name="content " rows="8"></textarea>
        </div>
        <div class="field required">
            <label>联系邮箱</label>
            <input type="text" name="contact_email">
        </div>
        <div class="field required">
            <label>联系电话</label>
            <input type="text" name="contact_phone">
        </div>

        <input type="submit" class="ui positive button" value="提交">
        <input type="button" class="ui negative button" value="取消">
</form>
</div>
</body>
<%- include('../components/footer') %>