<%- include('../components/header') %>
<link rel="stylesheet" type="text/css" href="../../public/wangEditor/css/wangEditor.css">
<script type="text/javascript" src="../../public/js/public/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../public/wangEditor/js/wangEditor.js"></script>
<script type="text/javascript" src="../../public/js/task/createTask.js"></script>
<body>

    <p style="margin-left: 10px">Title</p>
    <input id="taskName" style="height:50px; width: 100%" placeholder="请输入标题"/>
    <p></p>
    <div>
        <div id="editorArea" style="height: 400px;max-height: 500px"></div>
    </div>
    <button type="button" style="margin-left: 600px" class="btn btn-info" id="saveTask">提交</button>
    <button type="button" style="margin-left: 10px" class="btn btn-danger" id="cancelTask">取消</button>
</body>


<%- include('../components/footer') %>