<%- include('../components/header') %>
<link rel="stylesheet" type="text/css" href="../../public/wangEditor/css/wangEditor.css">
<script type="text/javascript" src="../../public/js/public/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../public/wangEditor/js/wangEditor.js"></script>
<body>
    <div>
        <div id="div1" style="height: 400px;max-height: 500px"></div>
    </div>
</body>

<script type="text/javascript">
    var editor=new wangEditor('div1');
    editor.config.uploadImgUrl = '/wangEditor/uploadImage';

    editor.create();
</script>

<%- include('../components/footer') %>