<%- include('../components/header') %>
<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
</head>

<body>
<div >
    <h1 style="text-align: center; margin-top: 10px">使用说明</h1>
    <div class="ui one column grid" style="display: block; margin-left: 20px">
        <div class="row">
            <div class="column">
                <div class="ui raised segment">
                    <div class="ui ribbon label">1</div>
                    <p>任务只有一个发布人(可更新，删除任务详情).</p>
                    <div class="ui teal ribbon label">2</div>
                    <p>主接受人可以征集副接受人一起完成任务，副接受人可以有多个.</p>
                    <div class="ui brown ribbon label">3</div>
                    <p>路人可以主动要求加入，主接受人会收到站内信，同意后加入.</p>
                    <div class="ui green ribbon label">4</div>
                    <p>如您有更好建议或想法，请反馈给我们，谢谢.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 10px">
      <a href="/" class="ui  basic button" >返回</a>
    </div>


</div>
</body>
<%- include('../components/footer') %>