<%- include('components/header') %>
<link rel="stylesheet" href="../../public/css/plus.css"/>
<link rel="stylesheet" href="../../public/css/userSpace.css"/>
<link rel="stylesheet" href="../../public/css/demo_table.css"/>
<script type="text/javascript" src="../public/js/public/jquery.dataTables.js"></script>
<script type="text/javascript" src="../public/js/mainPage/mainpage.js"></script>

<body background="https://img.alicdn.com/tps/TB1jnqtOVXXXXX8XFXXXXXXXXXX-1600-880.png">
<div role="banner" class="nav" style="margin-top: 10px">
    <div class="container">
        <div role="navigation" class="navbar-collapse">
            <ul class="nav_content" >
                <li class="active"><a  href="#">首页</a></li>
                <!--说明文件-->
                <li><a  href="#">使用说明</a></li>
                <li><a  href="#">意见反馈</a></li>
                <li><a  href="/user/newTask" onclick="checkUserExist();return false;">发布任务</a></li>
                <li><a  href="#">资源中心</a></li>
                <!--排行榜包括 任务(按评论)排行，人气(按浏览量)排行，用户(按发布数和接单数之和)排行-->
                <li><a  href="#">排行榜</a></li>
                <!--个人中心-->
                <li><a  href="/user/userSpace">个人中心</a></li>

                <li style="float:right;margin-right: 60px"><p  id="logout_or_register" value="register">注册</p></li>
                <li style="float:right;margin-right: 60px"><p  id="login_or_username" value="login">登陆</p></li>

                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                        <!--个人中心 <span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<% if(userName) { %>-->
                            <!--<li><a href="#">修改头像</a></li>-->
                            <!--<li><a href="#">修改签名</a></li>-->
                            <!--<li><a href="#">修改密码</a></li>-->
                            <!--<li><a href="#">我的日志</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#" id="logout">退出</a></li>-->
                        <!--<% } else { %>-->
                            <!--<li><a href="/user/login">登录</a></li>-->
                            <!--<li><a href="/user/register">注册</a></li>-->
                        <!--<% } %>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div><hr>

<div id="contentTable">
    <div class="index_viewport">
        <table id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
            <thead>
            <tr>
                <th >_id</th>
                <th >user</th>
                <th >taskName</th>
                <th >createdAt</th>
                <th >updatedAt</th>
                <th >status</th>
                <th >_v</th>
            </tr>
            </thead>

        </table>
    </div>
</div>
</body>
<%- include('components/footer') %>