<%- include('components/header') %>
<script type="text/javascript" src="../public/js/mainPage/mainpage.js"></script>
<div>
    <h1>这是主页</h1>
    <button type="button" id="register">注册</button>
    <button type="button" id="login">登陆</button>
</div>
<%- include('components/footer') %>