.col-center-block {
    float: none;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.upload-container {
    background-repeat: no-repeat;
    width: 180px;
    height: 200px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
.fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 200px;
    height: 200px;
}
.cavatar img{border:0;}
.cavatar150{
    width:150px;
    height:150px;
    border: medium none;
}
@media screen {
    html { margin-top: 0px !important; }
}
#backTop {
    width: 50px;
    height: 66px;
    background-color: #06c;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 25px;
    cursor: pointer;
    text-align: center;
    display: none;
    line-height:32px;
    border:1px solid #06c;
    border-radius:5px;
    font-family: "微软雅黑";
}