<%- include('../components/header') %>

<div class="aaa">
    <ul>
        <li class="li1"><img src="../../public/img/index.jpg" alt="刷新中..."/>
         <p class="li2">首页</p></li>
        <!--说明文件-->
        <li><p class="li2">使用说明</p></li>
        <li><p class="li2">意见反馈</p></li>
        <li><p class="li2">发布任务</p></li>
        <!--排行榜包括 任务(按评论)排行，人气(按浏览量)排行，用户(按发布数和接单数之和)排行-->
        <li><p class="li2">排行榜</p></li>
        <!--个人中心-->
        <li><p class="li2">我的世界</p></li>
    </ul>
</div><hr>

<div>

</div>

<%- include('../components/footer') %>