<%- include('../components/header') %>
<link rel="stylesheet" href="../../public/css/plus.css"/>
<script type="text/javascript" src="../../public/js/libs/rsa/jsencrypt.js"></script>
<script type="text/javascript" src="../../public/js/base/baseInput.js"></script>
<script type="text/javascript" src="../../public/js/public/ajaxFileUpload.js"></script>
<script type="text/javascript" src="../../public/js/user/register.js"></script>

<body background="https://img.alicdn.com/tps/TB1jnqtOVXXXXX8XFXXXXXXXXXX-1600-880.png" >
<% /* 右半侧弄个花哨的图挂上去，后面再看 */ %>
<div class="container">
    <h1 >这是注册页</h1>
    <p id="notification"></p>
    <div class="row myCenter">
    <div class="col-md-offset-4">
    <form class="form-horizontal">
        <div class="form-group ">
            <div class="input-group input-group-lg col-lg-6">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope" style="color: rgb(255, 140, 60);"> </span></span>
                <input type="text" class="form-control input-lg" id="mailBox" placeholder="请输入邮箱"/>
            </div>
        </div>
        <div class="form-group ">
            <div class="input-group input-group-lg col-lg-6">
                 <span class="input-group-addon">
                <span class="glyphicon glyphicon-user" style="color: rgb(255, 140, 60);"> </span></span>
            <input type="text" class="form-control input-lg" id="userName" placeholder="请输入用户名"/>
            </div>
        </div>

        <% /*对输入密码进行密码强度校验*/%>
        <div class="form-group ">
            <div class="input-group input-group-lg col-lg-6">
                 <span class="input-group-addon">
               <span class="glyphicon glyphicon-asterisk" style="color: rgb(255, 140, 60);"></span></span>
                <input type="password" id="passWord" class="form-control input-lg" placeholder="请输入密码,最少6位"/>
            </div>
        </div>
        <div class="form-group ">
            <div class="input-group input-group-lg col-lg-6">
                 <span class="input-group-addon">
               <span class="glyphicon glyphicon-asterisk" style="color: rgb(255, 140, 60);"> </span></span>
                <input type="password" id="passWord2" class="form-control input-lg" placeholder="请再次输入密码"/>
            </div>
        </div>
        <div class="form-group " style="margin-right: 50px">
            <div class="input-group-lg col-lg-7 " >
                <div class="input-group input-group-lg col-lg-3" style="float: left;width: 49%;" >
                   <span class="input-group-addon">
                    <span class="glyphicon glyphicon-check" style="color: rgb(255, 140, 60);"> </span></span>
                   <input type="text" id="inputAlpha" class="form-control input-lg" placeholder="请输入验证码" >
                </div>
                    <div  class="col-lg-3" style="float: right;width: 49%">
                <input type="button" class="btn btn-block input-lg code" id="code" style="color:#357ebd;font-weight:bold;font-style:oblique;letter-spacing: 12px";>
                    </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<div class="col-lg-5">-->
                <!--<label for="gender">性别:</label>-->
                <!--<select class=" dropdown-menu-left" name="gender">-->
                    <!--<option value="m">男</option>-->
                    <!--<option value="f">女</option>-->
                    <!--<option value="x">保密</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group field required">-->
            <!--<div class="col-lg-5">-->
                <!--<label>头像:</label>-->
                <!--<input type="file" id="avatar" name="avatar">-->
                <!--<input type="button" id="fileUpload" name="fileUpload"  value="上传头像">-->
                <!--<span id="avatar-message"></span>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary btn-block " id="sign_up">注 册</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-4">
                <a href="/user/login" id="login">已有账号，去登录</a>
            </div>
        </div>

     </form>
     </div>
    </div>
</div>
</body>
<%- include('../components/footer') %>