<%- include('../components/header') %>
<link rel="stylesheet" href="../../public/css/userSpace.css"/>
<link rel="stylesheet" href="../public/css/libs/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" href="../../public/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
<script type="text/javascript" src="../public/js/public/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../public/js/libs/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/user/userSpace.js"></script>
</head>
<body >
<div style="margin-top: 30px">
    <div class="active">
        <a style="margin-left: 30px;" href="/"><span class="glyphicon glyphicon-home"></span></a>
    </div>
</div>
<div class="main clearfix">
    <div class="persional_property">
        <div class="person_info_con"><i class="icon-edit icon-large person-info-edit"></i><a name="M_base"></a>
            <dl class="person-photo">
                <dt><a href="javascript:;"><img src="http://avatar.csdn.net/B/3/3/1_zbjchaishen.jpg" class="header"><span class="edit_person_pic"></span></a></dt>
                <dd class="focus_num"><b><a href='#'  target=_blank>0</a></b>关注</dd>
                <dd class="fans_num"><b><a href='#'  target=_blank>0</a></b>粉丝</dd>
            </dl>
            <dl class="person-info">
                <dt class="person-nick-name">
                    <span id="user_name"></span>            </dt>
                <dd class="person-detail">
                    <span class="info_null">未填写部门</span><span>|</span><span class="info_null">未填写姓名</span><span>|</span>上海<span>|</span>男<span>|</span><span class="info_null">未填写生日</span> <span ></span><span ></span><span ></span><span> <button style="margin-right: 50px" class="ui circular icon button"><i class="settings icon"></i>
                    </button></span></dd>

                <dd class="person-sign">个人简介</dd><br>
                <span>xxxxxxxxx！</span>

            </dl>

        </div>
    </div>
</div>

<div id="contentTable">
    <div class="dataTables_info" id="data-empty" role="status" aria-live="polite">
        <table id="apply-data" class="table table-bordered table-hover stripe">
        </table>
    </div>
</div>
</body>
<%- include('../components/footer') %>